.chatWindow {
  background-color: #212121;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

/* Navbar */

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar span {
  margin: 1rem 2rem;
}

.userIconDiv {
  margin: 1rem 2rem;
}

.userIcon {
  background-color: #339cff;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* chat Input */
.chatInput {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inputArea {
  width: 100%;
  /* margin-bottom: 1rem; */
  max-width: 700px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

input {
  width: 100%;
  padding: 15px;
  border-radius: 14px;
  border: none;
  outline: none;
  font-size: 0.8rem;
  background-color: rgba(255, 255, 255, 0.05);
  box-shadow: rgba(0, 0, 0, 0.05) 0 54px 55px, rgba(0, 0, 0, 0.05) 0 -12px 30px,
    rgba(0, 0, 0, 0.05) 0 4px 6px, rgba(0, 0, 0, 0.05) 0 12px 3px,
    rgba(0, 0, 0, 0.05) 0 -3px 6px;
}

.info {
  font-size: 0.8rem;
  padding: 0.6rem;
  color: #b4b4b4;
}

#submit {
  height: 35px;
  width: 35px;
  cursor: pointer;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 15px;
}

#submit i:hover {
  color: #fff;
}

#submit i {
  height: 30px;
  width: 30px;
  margin-top: 8px;
}

/* Dropdown Menu */
.dropDownDiv {
  position: absolute;
  top: 4rem;
  right: 4rem;
  background-color: #2c2c2c;
  padding: 0.3rem 0.5rem;
  border-radius: 6px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  width: 150px;
  text-align: left;
}

.dropDownItems {
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
  margin: 0.3rem 0rem;
  color: #ffffff;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
}

.dropDownItems i {
  font-size: 1rem;
  background-color: #3d3d3d;
}

.dropDownItems:hover {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 6px;
}
