.sidebar {
  background-color: #171717;
  color: #b4b4b4;
  height: 100vh;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.logo {
  height: 25px;
  width: 25px;
  background-color: #ffffff;
  border-radius: 50%;
  object-fit: cover;
}

button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
  padding: 10px;
  border-radius: 8px;
  background-color: transparent;
  border: solid rgba(255, 255, 255, 0.5) 0.5px;
}

button:hover {
  background-color: rgba(180, 180, 180, 0.05);
  cursor: pointer;
}

button span {
  margin-left: 10px;
  font-size: 20px;
  color: #171717;
}

.history {
  list-style-type: none;
  padding: 10px;
  margin: 10px;
  /* flex-grow: 1; */
  height: 100%;
  overflow-y: auto;
}

.history li {
  padding: 2px 5px;
  cursor: pointer;
  margin-bottom: 0.4rem;
  font-size: 14px;
  border-radius: 10px solid transparent;
  position: relative;
}

.history li:hover {
  background-color: rgba(180, 180, 180, 0.05);
  border-radius: 0.5px;
}

.sign {
  text-align: center;
  padding: 10px;
  margin: 10px;
  font-size: 14px;
  color: #888888;
  border-top: 0.5px solid rgba(255, 255, 255, 0.5);
}

.history {
  flex: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.history::-webkit-scrollbar {
  width: 8px;
}

.history::-webkit-scrollbar-track {
  background: #1e1e1e;
}

.history::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 10px;
}

.history::-webkit-scrollbar-thumb:hover {
  background: #777;
}

.fa-trash {
  opacity: 0;
  position: absolute;
  right: 0;
}

.history li:hover .fa-trash {
  opacity: 1;
  cursor: pointer;
  color: #fff;
}

.fa-trash:hover {
  color: #ff4d4d !important;
}

.activeThread {
  background-color: rgba(180, 180, 180, 0.1);
  border-radius: 8px;
}
